$tamanioParrafo : 16px;

.info-row {

    margin: 60px 0;

    .info-texto {
        
        text-align: center;
        
        p {
            font-size: $tamanioParrafo;
        }
    }

    .infobox {
        
        .icono {
            padding: 10px 0;
            text-align: center;
            color: $red;
        }

    }

}