.info {
    
    margin: 60px 0;

    .info-texto {

        text-align: center;

    }

    .infobox {

        .icono {
            padding: 10px 0;
            text-align: center;
            color: $red;

        }

    }

    // .container {

    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

        

        

    // }

}